html { height: 100% }
body { 
    height: 100%; 
    margin: 0; 
    padding-top:15px;
    padding-right:15px;
    font-family:Arial;
}

 .left {
    width:20%;
    float:left;
    background-color:rgb(210,210,210);
    height:90%;
    border-radius: 10px;
    margin-left: 15px;
    margin-right:5px;
    overflow: auto;
}

.right{
    margin-left:20%;
    height:90%;
}

#locations{
    padding-left:5px;
}

label.line{
  cursor:pointer; 
  font-size:13px;
  display:inline-block;
  margin-bottom:2px;
}

div.checkbox{
  display:inline-block;
  width:13px;
  height:13px;
  border-radius:3px;
  margin-left:5px;
  margin-right: 4px;
}

.image-checked{
  background-image:url('../images/check-icon.png');
}

div.street-label{
  position:absolute;
  overflow: hidden;
  white-space: nowrap;
  color:white;
  font-size:10px;
  padding: 2px 4px;
  background-color: rgb(12,36,61);
}

.label{
    text-align:center;
    color:#fff;
    padding:3px;
    /*opacity:.8;*/
    font-size: 14px;
    font-weight: bold;
    position:relative;
}

.overlay_arrow{
  left:50%;
  margin-left:-10px;
  width:0;
  height:0;
  position:absolute;
}

.overlay_arrow.above{
  bottom:-9px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #336699;
}

#try-me{
  width:100px;
  height:30px;
  position:absolute;
  /*visibility: hidden;*/
}

.arrow-below{
  position:absolute;
  left: 80px;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-bottom:10px solid #29abe2;
}

#try-me div.block{
  position:absolute;
  left:85px;
  top:10px;
  height:20px;
  width:6px;
  background-color:#29abe2;
}

#try-me span.text{
  position:absolute;
  top:0px;
  font-size:11px;
  left:25px;
  font-weight: bold;
}

#try-me span.small-text{
  position:absolute;
  font-size:10px;
  top:13px;
  left:16px;
  line-height: 10px;
  text-align: center;
}

#info-window{
  font-size: 12px;
  width: 330px;
  background-color:white;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 4px;
  position:absolute;
  top:200px;
  left:500px;
  cursor:move;
  visibility: hidden;
  z-index: 150;
}