html { height: 100% }
body { 
    height: 100%; 
    margin: 0; 
    padding-top:15px;
    padding-right:15px;
}

 .left {
    width:20%;
    float:left;
    background-color:rgb(210,210,210);
    height:80%;
    border-radius: 10px;
    margin-left: 15px;
    margin-right:5px;
    overflow: auto;
}
.right{
    margin-left:20%;
    height:80%;
}
#info-window{
    position:relative;
    left:-9999px;
}

#locations{
    padding-left:5px;
}

.label{
    text-align:center;
    color:#fff;
    padding:3px;
    background-color: rgba(68, 119, 176, .8);
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #336699;
    position:relative;
}

.overlay_arrow{
  left:50%;
  margin-left:-10px;
  width:0;
  height:0;
  position:absolute;
}

.overlay_arrow.above{
  bottom:-11px;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #336699;
}
